extends ./layout.pug

block content 
  h2 Reset Password
  p 
    b Click the button below to reset your password. this link will expire soon.
  a(href=magicLink).magic-link-btn Click Here 
  p Alternatively copy and paste the following link to reset your password: 
  p.text-link #{magicLink}